In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("./nba.csv")

In [3]:
df.shape

(458, 9)

In [4]:
df.keys

<bound method NDFrame.keys of                         Name                    Team  Number Position   Age  \
0              Avery Bradley          Boston Celtics     0.0       PG  25.0
1                Jae Crowder          Boston Celtics    99.0       SF  25.0
2               John Holland          Boston Celtics    30.0       SG  27.0
3                R.J. Hunter          Boston Celtics    28.0       SG  22.0
4              Jonas Jerebko          Boston Celtics     8.0       PF  29.0
5               Amir Johnson          Boston Celtics    90.0       PF  29.0
6              Jordan Mickey          Boston Celtics    55.0       PF  21.0
7               Kelly Olynyk          Boston Celtics    41.0        C  25.0
8               Terry Rozier          Boston Celtics    12.0       PG  22.0
9               Marcus Smart          Boston Celtics    36.0       PG  22.0
10           Jared Sullinger          Boston Celtics     7.0        C  24.0
11             Isaiah Thomas          Boston Celtics     4.0       PG  27.0
12               Evan Turner          Boston Celtics    11.0       SG  27.0
13               James Young          Boston Celtics    13.0       SG  20.0
14              Tyler Zeller          Boston Celtics    44.0        C  26.0
15          Bojan Bogdanovic           Brooklyn Nets    44.0       SG  27.0
16              Markel Brown           Brooklyn Nets    22.0       SG  24.0
17           Wayne Ellington           Brooklyn Nets    21.0       SG  28.0
18   Rondae Hollis-Jefferson           Brooklyn Nets    24.0       SG  21.0
19              Jarrett Jack           Brooklyn Nets     2.0       PG  32.0
20            Sergey Karasev           Brooklyn Nets    10.0       SG  22.0
21           Sean Kilpatrick           Brooklyn Nets     6.0       SG  26.0
22              Shane Larkin           Brooklyn Nets     0.0       PG  23.0
23               Brook Lopez           Brooklyn Nets    11.0        C  28.0
24          Chris McCullough           Brooklyn Nets     1.0       PF  21.0
25               Willie Reed           Brooklyn Nets    33.0       PF  26.0
26           Thomas Robinson           Brooklyn Nets    41.0       PF  25.0
27                Henry Sims           Brooklyn Nets    14.0        C  26.0
28              Donald Sloan           Brooklyn Nets    15.0       PG  28.0
29            Thaddeus Young           Brooklyn Nets    30.0       PF  27.0
..                       ...                     ...     ...      ...   ...
428          Al-Farouq Aminu  Portland Trail Blazers     8.0       SF  25.0
429          Pat Connaughton  Portland Trail Blazers     5.0       SG  23.0
430             Allen Crabbe  Portland Trail Blazers    23.0       SG  24.0
431                 Ed Davis  Portland Trail Blazers    17.0        C  27.0
432         Maurice Harkless  Portland Trail Blazers     4.0       SF  23.0
433         Gerald Henderson  Portland Trail Blazers     9.0       SG  28.0
434              Chris Kaman  Portland Trail Blazers    35.0        C  34.0
435           Meyers Leonard  Portland Trail Blazers    11.0       PF  24.0
436           Damian Lillard  Portland Trail Blazers     0.0       PG  25.0
437            C.J. McCollum  Portland Trail Blazers     3.0       SG  24.0
438             Luis Montero  Portland Trail Blazers    44.0       SG  23.0
439            Mason Plumlee  Portland Trail Blazers    24.0        C  26.0
440            Brian Roberts  Portland Trail Blazers     2.0       PG  30.0
441              Noah Vonleh  Portland Trail Blazers    21.0       PF  20.0
442            Trevor Booker               Utah Jazz    33.0       PF  28.0
443               Trey Burke               Utah Jazz     3.0       PG  23.0
444               Alec Burks               Utah Jazz    10.0       SG  24.0
445               Dante Exum               Utah Jazz    11.0       PG  20.0
446           Derrick Favors               Utah Jazz    15.0       PF  24.0
447              Rudy Gobert               Utah Jazz    27.0        C  23.0
448           Gordon Hayward               Utah Jazz    20.0       SF  26.0
449              Rodney Hood               Utah Jazz     5.0       SG  23.0
450               Joe Ingles               Utah Jazz     2.0       SF  28.0
451            Chris Johnson               Utah Jazz    23.0       SF  26.0
452               Trey Lyles               Utah Jazz    41.0       PF  20.0
453             Shelvin Mack               Utah Jazz     8.0       PG  26.0
454                Raul Neto               Utah Jazz    25.0       PG  24.0
455             Tibor Pleiss               Utah Jazz    21.0        C  26.0
456              Jeff Withey               Utah Jazz    24.0        C  26.0
457                      NaN                     NaN     NaN      NaN   NaN

    Height  Weight            College      Salary
0      6-2   180.0              Texas   7730337.0
1      6-6   235.0          Marquette   6796117.0
2      6-5   205.0  Boston University         NaN
3      6-5   185.0      Georgia State   1148640.0
4     6-10   231.0                NaN   5000000.0
5      6-9   240.0                NaN  12000000.0
6      6-8   235.0                LSU   1170960.0
7      7-0   238.0            Gonzaga   2165160.0
8      6-2   190.0         Louisville   1824360.0
9      6-4   220.0     Oklahoma State   3431040.0
10     6-9   260.0         Ohio State   2569260.0
11     5-9   185.0         Washington   6912869.0
12     6-7   220.0         Ohio State   3425510.0
13     6-6   215.0           Kentucky   1749840.0
14     7-0   253.0     North Carolina   2616975.0
15     6-8   216.0                NaN   3425510.0
16     6-3   190.0     Oklahoma State    845059.0
17     6-4   200.0     North Carolina   1500000.0
18     6-7   220.0            Arizona   1335480.0
19     6-3   200.0       Georgia Tech   6300000.0
20     6-7   208.0                NaN   1599840.0
21     6-4   219.0         Cincinnati    134215.0
22    5-11   175.0         Miami (FL)   1500000.0
23     7-0   275.0           Stanford  19689000.0
24    6-11   200.0           Syracuse   1140240.0
25    6-10   220.0        Saint Louis    947276.0
26    6-10   237.0             Kansas    981348.0
27    6-10   248.0         Georgetown    947276.0
28     6-3   205.0          Texas A&M    947276.0
29     6-8   221.0       Georgia Tech  11235955.0
..     ...     ...                ...         ...
428    6-9   215.0        Wake Forest   8042895.0
429    6-5   206.0         Notre Dame    625093.0
430    6-6   210.0         California    947276.0
431   6-10   240.0     North Carolina   6980802.0
432    6-9   215.0         St. John's   2894059.0
433    6-5   215.0               Duke   6000000.0
434    7-0   265.0   Central Michigan   5016000.0
435    7-1   245.0           Illinois   3075880.0
436    6-3   195.0        Weber State   4236287.0
437    6-4   200.0             Lehigh   2525160.0
438    6-7   185.0     Westchester CC    525093.0
439   6-11   235.0               Duke   1415520.0
440    6-1   173.0             Dayton   2854940.0
441    6-9   240.0            Indiana   2637720.0
442    6-8   228.0            Clemson   4775000.0
443    6-1   191.0           Michigan   2658240.0
444    6-6   214.0           Colorado   9463484.0
445    6-6   190.0                NaN   3777720.0
446   6-10   265.0       Georgia Tech  12000000.0
447    7-1   245.0                NaN   1175880.0
448    6-8   226.0             Butler  15409570.0
449    6-8   206.0               Duke   1348440.0
450    6-8   226.0                NaN   2050000.0
451    6-6   206.0             Dayton    981348.0
452   6-10   234.0           Kentucky   2239800.0
453    6-3   203.0             Butler   2433333.0
454    6-1   179.0                NaN    900000.0
455    7-3   256.0                NaN   2900000.0
456    7-0   231.0             Kansas    947276.0
457    NaN     NaN                NaN         NaN

[458 rows x 9 columns]>

In [5]:
df.keys()

Index(['Name', 'Team', 'Number', 'Position', 'Age', 'Height', 'Weight',
       'College', 'Salary'],
      dtype='object')

In [6]:
df.head

<bound method NDFrame.head of                         Name                    Team  Number Position   Age  \
0              Avery Bradley          Boston Celtics     0.0       PG  25.0
1                Jae Crowder          Boston Celtics    99.0       SF  25.0
2               John Holland          Boston Celtics    30.0       SG  27.0
3                R.J. Hunter          Boston Celtics    28.0       SG  22.0
4              Jonas Jerebko          Boston Celtics     8.0       PF  29.0
5               Amir Johnson          Boston Celtics    90.0       PF  29.0
6              Jordan Mickey          Boston Celtics    55.0       PF  21.0
7               Kelly Olynyk          Boston Celtics    41.0        C  25.0
8               Terry Rozier          Boston Celtics    12.0       PG  22.0
9               Marcus Smart          Boston Celtics    36.0       PG  22.0
10           Jared Sullinger          Boston Celtics     7.0        C  24.0
11             Isaiah Thomas          Boston Celtics     4.0       PG  27.0
12               Evan Turner          Boston Celtics    11.0       SG  27.0
13               James Young          Boston Celtics    13.0       SG  20.0
14              Tyler Zeller          Boston Celtics    44.0        C  26.0
15          Bojan Bogdanovic           Brooklyn Nets    44.0       SG  27.0
16              Markel Brown           Brooklyn Nets    22.0       SG  24.0
17           Wayne Ellington           Brooklyn Nets    21.0       SG  28.0
18   Rondae Hollis-Jefferson           Brooklyn Nets    24.0       SG  21.0
19              Jarrett Jack           Brooklyn Nets     2.0       PG  32.0
20            Sergey Karasev           Brooklyn Nets    10.0       SG  22.0
21           Sean Kilpatrick           Brooklyn Nets     6.0       SG  26.0
22              Shane Larkin           Brooklyn Nets     0.0       PG  23.0
23               Brook Lopez           Brooklyn Nets    11.0        C  28.0
24          Chris McCullough           Brooklyn Nets     1.0       PF  21.0
25               Willie Reed           Brooklyn Nets    33.0       PF  26.0
26           Thomas Robinson           Brooklyn Nets    41.0       PF  25.0
27                Henry Sims           Brooklyn Nets    14.0        C  26.0
28              Donald Sloan           Brooklyn Nets    15.0       PG  28.0
29            Thaddeus Young           Brooklyn Nets    30.0       PF  27.0
..                       ...                     ...     ...      ...   ...
428          Al-Farouq Aminu  Portland Trail Blazers     8.0       SF  25.0
429          Pat Connaughton  Portland Trail Blazers     5.0       SG  23.0
430             Allen Crabbe  Portland Trail Blazers    23.0       SG  24.0
431                 Ed Davis  Portland Trail Blazers    17.0        C  27.0
432         Maurice Harkless  Portland Trail Blazers     4.0       SF  23.0
433         Gerald Henderson  Portland Trail Blazers     9.0       SG  28.0
434              Chris Kaman  Portland Trail Blazers    35.0        C  34.0
435           Meyers Leonard  Portland Trail Blazers    11.0       PF  24.0
436           Damian Lillard  Portland Trail Blazers     0.0       PG  25.0
437            C.J. McCollum  Portland Trail Blazers     3.0       SG  24.0
438             Luis Montero  Portland Trail Blazers    44.0       SG  23.0
439            Mason Plumlee  Portland Trail Blazers    24.0        C  26.0
440            Brian Roberts  Portland Trail Blazers     2.0       PG  30.0
441              Noah Vonleh  Portland Trail Blazers    21.0       PF  20.0
442            Trevor Booker               Utah Jazz    33.0       PF  28.0
443               Trey Burke               Utah Jazz     3.0       PG  23.0
444               Alec Burks               Utah Jazz    10.0       SG  24.0
445               Dante Exum               Utah Jazz    11.0       PG  20.0
446           Derrick Favors               Utah Jazz    15.0       PF  24.0
447              Rudy Gobert               Utah Jazz    27.0        C  23.0
448           Gordon Hayward               Utah Jazz    20.0       SF  26.0
449              Rodney Hood               Utah Jazz     5.0       SG  23.0
450               Joe Ingles               Utah Jazz     2.0       SF  28.0
451            Chris Johnson               Utah Jazz    23.0       SF  26.0
452               Trey Lyles               Utah Jazz    41.0       PF  20.0
453             Shelvin Mack               Utah Jazz     8.0       PG  26.0
454                Raul Neto               Utah Jazz    25.0       PG  24.0
455             Tibor Pleiss               Utah Jazz    21.0        C  26.0
456              Jeff Withey               Utah Jazz    24.0        C  26.0
457                      NaN                     NaN     NaN      NaN   NaN

    Height  Weight            College      Salary
0      6-2   180.0              Texas   7730337.0
1      6-6   235.0          Marquette   6796117.0
2      6-5   205.0  Boston University         NaN
3      6-5   185.0      Georgia State   1148640.0
4     6-10   231.0                NaN   5000000.0
5      6-9   240.0                NaN  12000000.0
6      6-8   235.0                LSU   1170960.0
7      7-0   238.0            Gonzaga   2165160.0
8      6-2   190.0         Louisville   1824360.0
9      6-4   220.0     Oklahoma State   3431040.0
10     6-9   260.0         Ohio State   2569260.0
11     5-9   185.0         Washington   6912869.0
12     6-7   220.0         Ohio State   3425510.0
13     6-6   215.0           Kentucky   1749840.0
14     7-0   253.0     North Carolina   2616975.0
15     6-8   216.0                NaN   3425510.0
16     6-3   190.0     Oklahoma State    845059.0
17     6-4   200.0     North Carolina   1500000.0
18     6-7   220.0            Arizona   1335480.0
19     6-3   200.0       Georgia Tech   6300000.0
20     6-7   208.0                NaN   1599840.0
21     6-4   219.0         Cincinnati    134215.0
22    5-11   175.0         Miami (FL)   1500000.0
23     7-0   275.0           Stanford  19689000.0
24    6-11   200.0           Syracuse   1140240.0
25    6-10   220.0        Saint Louis    947276.0
26    6-10   237.0             Kansas    981348.0
27    6-10   248.0         Georgetown    947276.0
28     6-3   205.0          Texas A&M    947276.0
29     6-8   221.0       Georgia Tech  11235955.0
..     ...     ...                ...         ...
428    6-9   215.0        Wake Forest   8042895.0
429    6-5   206.0         Notre Dame    625093.0
430    6-6   210.0         California    947276.0
431   6-10   240.0     North Carolina   6980802.0
432    6-9   215.0         St. John's   2894059.0
433    6-5   215.0               Duke   6000000.0
434    7-0   265.0   Central Michigan   5016000.0
435    7-1   245.0           Illinois   3075880.0
436    6-3   195.0        Weber State   4236287.0
437    6-4   200.0             Lehigh   2525160.0
438    6-7   185.0     Westchester CC    525093.0
439   6-11   235.0               Duke   1415520.0
440    6-1   173.0             Dayton   2854940.0
441    6-9   240.0            Indiana   2637720.0
442    6-8   228.0            Clemson   4775000.0
443    6-1   191.0           Michigan   2658240.0
444    6-6   214.0           Colorado   9463484.0
445    6-6   190.0                NaN   3777720.0
446   6-10   265.0       Georgia Tech  12000000.0
447    7-1   245.0                NaN   1175880.0
448    6-8   226.0             Butler  15409570.0
449    6-8   206.0               Duke   1348440.0
450    6-8   226.0                NaN   2050000.0
451    6-6   206.0             Dayton    981348.0
452   6-10   234.0           Kentucky   2239800.0
453    6-3   203.0             Butler   2433333.0
454    6-1   179.0                NaN    900000.0
455    7-3   256.0                NaN   2900000.0
456    7-0   231.0             Kansas    947276.0
457    NaN     NaN                NaN         NaN

[458 rows x 9 columns]>

In [7]:
df.head()

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
0,Avery Bradley,Boston Celtics,0.0,PG,25.0,6-2,180.0,Texas,7730337.0
1,Jae Crowder,Boston Celtics,99.0,SF,25.0,6-6,235.0,Marquette,6796117.0
2,John Holland,Boston Celtics,30.0,SG,27.0,6-5,205.0,Boston University,NaN
3,R.J. Hunter,Boston Celtics,28.0,SG,22.0,6-5,185.0,Georgia State,1148640.0
4,Jonas Jerebko,Boston Celtics,8.0,PF,29.0,6-10,231.0,NaN,5000000.0

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 458 entries, 0 to 457
Data columns (total 9 columns):
Name        457 non-null object
Team        457 non-null object
Number      457 non-null float64
Position    457 non-null object
Age         457 non-null float64
Height      457 non-null object
Weight      457 non-null float64
College     373 non-null object
Salary      446 non-null float64
dtypes: float64(4), object(5)
memory usage: 32.3+ KB

In [9]:
df.describe()

           Number         Age      Weight        Salary
count  457.000000  457.000000  457.000000  4.460000e+02
mean    17.678337   26.938731  221.522976  4.842684e+06
std     15.966090    4.404016   26.368343  5.229238e+06
min      0.000000   19.000000  161.000000  3.088800e+04
25%      5.000000   24.000000  200.000000  1.044792e+06
50%     13.000000   26.000000  220.000000  2.839073e+06
75%     25.000000   30.000000  240.000000  6.500000e+06
max     99.000000   40.000000  307.000000  2.500000e+07

In [10]:
df.dropna()

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
0,Avery Bradley,Boston Celtics,0.0,PG,25.0,6-2,180.0,Texas,7730337.0
1,Jae Crowder,Boston Celtics,99.0,SF,25.0,6-6,235.0,Marquette,6796117.0
3,R.J. Hunter,Boston Celtics,28.0,SG,22.0,6-5,185.0,Georgia State,1148640.0
6,Jordan Mickey,Boston Celtics,55.0,PF,21.0,6-8,235.0,LSU,1170960.0
7,Kelly Olynyk,Boston Celtics,41.0,C,25.0,7-0,238.0,Gonzaga,2165160.0
8,Terry Rozier,Boston Celtics,12.0,PG,22.0,6-2,190.0,Louisville,1824360.0
9,Marcus Smart,Boston Celtics,36.0,PG,22.0,6-4,220.0,Oklahoma State,3431040.0
10,Jared Sullinger,Boston Celtics,7.0,C,24.0,6-9,260.0,Ohio State,2569260.0
11,Isaiah Thomas,Boston Celtics,4.0,PG,27.0,5-9,185.0,Washington,6912869.0
12,Evan Turner,Boston Celtics,11.0,SG,27.0,6-7,220.0,Ohio State,3425510.0
13,James Young,Boston Celtics,13.0,SG,20.0,6-6,215.0,Kentucky,1749840.0
14,Tyler Zeller,Boston Celtics,44.0,C,26.0,7-0,253.0,North Carolina,2616975.0
16,Markel Brown,Brooklyn Nets,22.0,SG,24.0,6-3,190.0,Oklahoma State,845059.0
17,Wayne Ellington,Brooklyn Nets,21.0,SG,28.0,6-4,200.0,North Carolina,1500000.0
18,Rondae Hollis-Jefferson,Brooklyn Nets,24.0,SG,21.0,6-7,220.0,Arizona,1335480.0
19,Jarrett Jack,Brooklyn Nets,2.0,PG,32.0,6-3,200.0,Georgia Tech,6300000.0
21,Sean Kilpatrick,Brooklyn Nets,6.0,SG,26.0,6-4,219.0,Cincinnati,134215.0
22,Shane Larkin,Brooklyn Nets,0.0,PG,23.0,5-11,175.0,Miami (FL),1500000.0
23,Brook Lopez,Brooklyn Nets,11.0,C,28.0,7-0,275.0,Stanford,19689000.0
24,Chris McCullough,Brooklyn Nets,1.0,PF,21.0,6-11,200.0,Syracuse,1140240.0
25,Willie Reed,Brooklyn Nets,33.0,PF,26.0,6-10,220.0,Saint Louis,947276.0
26,Thomas Robinson,Brooklyn Nets,41.0,PF,25.0,6-10,237.0,Kansas,981348.0
27,Henry Sims,Brooklyn Nets,14.0,C,26.0,6-10,248.0,Georgetown,947276.0
28,Donald Sloan,Brooklyn Nets,15.0,PG,28.0,6-3,205.0,Texas A&M,947276.0
29,Thaddeus Young,Brooklyn Nets,30.0,PF,27.0,6-8,221.0,Georgia Tech,11235955.0
30,Arron Afflalo,New York Knicks,4.0,SG,30.0,6-5,210.0,UCLA,8000000.0
31,Lou Amundson,New York Knicks,17.0,PF,33.0,6-9,220.0,UNLV,1635476.0
33,Carmelo Anthony,New York Knicks,7.0,SF,32.0,6-8,240.0,Syracuse,22875000.0
35,Cleanthony Early,New York Knicks,11.0,SF,25.0,6-8,210.0,Wichita State,845059.0
36,Langston Galloway,New York Knicks,2.0,SG,24.0,6-2,200.0,Saint Joseph's,845059.0
...,...,...,...,...,...,...,...,...,...
422,Cameron Payne,Oklahoma City Thunder,22.0,PG,21.0,6-3,185.0,Murray State,2021520.0
423,Andre Roberson,Oklahoma City Thunder,21.0,SG,24.0,6-7,210.0,Colorado,1210800.0
424,Kyle Singler,Oklahoma City Thunder,5.0,SF,28.0,6-8,228.0,Duke,4500000.0
425,Dion Waiters,Oklahoma City Thunder,3.0,SG,24.0,6-4,220.0,Syracuse,5138430.0
426,Russell Westbrook,Oklahoma City Thunder,0.0,PG,27.0,6-3,200.0,UCLA,16744218.0
427,Cliff Alexander,Portland Trail Blazers,34.0,PF,20.0,6-8,240.0,Kansas,525093.0
428,Al-Farouq Aminu,Portland Trail Blazers,8.0,SF,25.0,6-9,215.0,Wake Forest,8042895.0
429,Pat Connaughton,Portland Trail Blazers,5.0,SG,23.0,6-5,206.0,Notre Dame,625093.0
430,Allen Crabbe,Portland Trail Blazers,23.0,SG,24.0,6-6,210.0,California,947276.0
431,Ed Davis,Portland Trail Blazers,17.0,C,27.0,6-10,240.0,North Carolina,6980802.0
432,Maurice Harkless,Portland Trail Blazers,4.0,SF,23.0,6-9,215.0,St. John's,2894059.0
433,Gerald Henderson,Portland Trail Blazers,9.0,SG,28.0,6-5,215.0,Duke,6000000.0
434,Chris Kaman,Portland Trail Blazers,35.0,C,34.0,7-0,265.0,Central Michigan,5016000.0
435,Meyers Leonard,Portland Trail Blazers,11.0,PF,24.0,7-1,245.0,Illinois,3075880.0
436,Damian Lillard,Portland Trail Blazers,0.0,PG,25.0,6-3,195.0,Weber State,4236287.0
437,C.J. McCollum,Portland Trail Blazers,3.0,SG,24.0,6-4,200.0,Lehigh,2525160.0
438,Luis Montero,Portland Trail Blazers,44.0,SG,23.0,6-7,185.0,Westchester CC,525093.0
439,Mason Plumlee,Portland Trail Blazers,24.0,C,26.0,6-11,235.0,Duke,1415520.0
440,Brian Roberts,Portland Trail Blazers,2.0,PG,30.0,6-1,173.0,Dayton,2854940.0
441,Noah Vonleh,Portland Trail Blazers,21.0,PF,20.0,6-9,240.0,Indiana,2637720.0
442,Trevor Booker,Utah Jazz,33.0,PF,28.0,6-8,228.0,Clemson,4775000.0
443,Trey Burke,Utah Jazz,3.0,PG,23.0,6-1,191.0,Michigan,2658240.0
444,Alec Burks,Utah Jazz,10.0,SG,24.0,6-6,214.0,Colorado,9463484.0
446,Derrick Favors,Utah Jazz,15.0,PF,24.0,6-10,265.0,Georgia Tech,12000000.0
448,Gordon Hayward,Utah Jazz,20.0,SF,26.0,6-8,226.0,Butler,15409570.0
449,Rodney Hood,Utah Jazz,5.0,SG,23.0,6-8,206.0,Duke,1348440.0
451,Chris Johnson,Utah Jazz,23.0,SF,26.0,6-6,206.0,Dayton,981348.0
452,Trey Lyles,Utah Jazz,41.0,PF,20.0,6-10,234.0,Kentucky,2239800.0
453,Shelvin Mack,Utah Jazz,8.0,PG,26.0,6-3,203.0,Butler,2433333.0
456,Jeff Withey,Utah Jazz,24.0,C,26.0,7-0,231.0,Kansas,947276.0

In [11]:
df.tail()

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
453,Shelvin Mack,Utah Jazz,8.0,PG,26.0,6-3,203.0,Butler,2433333.0
454,Raul Neto,Utah Jazz,25.0,PG,24.0,6-1,179.0,NaN,900000.0
455,Tibor Pleiss,Utah Jazz,21.0,C,26.0,7-3,256.0,NaN,2900000.0
456,Jeff Withey,Utah Jazz,24.0,C,26.0,7-0,231.0,Kansas,947276.0
457,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [15]:
new_df = df.dropna(how = "all")

In [13]:
df.tail()

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
453,Shelvin Mack,Utah Jazz,8.0,PG,26.0,6-3,203.0,Butler,2433333.0
454,Raul Neto,Utah Jazz,25.0,PG,24.0,6-1,179.0,NaN,900000.0
455,Tibor Pleiss,Utah Jazz,21.0,C,26.0,7-3,256.0,NaN,2900000.0
456,Jeff Withey,Utah Jazz,24.0,C,26.0,7-0,231.0,Kansas,947276.0
457,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [16]:
new_df = df.dropna(how = "all")

In [17]:
new_df.tail()

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
452,Trey Lyles,Utah Jazz,41.0,PF,20.0,6-10,234.0,Kentucky,2239800.0
453,Shelvin Mack,Utah Jazz,8.0,PG,26.0,6-3,203.0,Butler,2433333.0
454,Raul Neto,Utah Jazz,25.0,PG,24.0,6-1,179.0,NaN,900000.0
455,Tibor Pleiss,Utah Jazz,21.0,C,26.0,7-3,256.0,NaN,2900000.0
456,Jeff Withey,Utah Jazz,24.0,C,26.0,7-0,231.0,Kansas,947276.0

In [18]:
new_df = df.dropna(subset = ["Salary"])
new_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 446 entries, 0 to 456
Data columns (total 9 columns):
Name        446 non-null object
Team        446 non-null object
Number      446 non-null float64
Position    446 non-null object
Age         446 non-null float64
Height      446 non-null object
Weight      446 non-null float64
College     364 non-null object
Salary      446 non-null float64
dtypes: float64(4), object(5)
memory usage: 34.8+ KB

In [19]:
new_df = df.fillna(0)
new_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 458 entries, 0 to 457
Data columns (total 9 columns):
Name        458 non-null object
Team        458 non-null object
Number      458 non-null float64
Position    458 non-null object
Age         458 non-null float64
Height      458 non-null object
Weight      458 non-null float64
College     458 non-null object
Salary      458 non-null float64
dtypes: float64(4), object(5)
memory usage: 32.3+ KB

In [20]:
new_df.describe()

           Number         Age      Weight        Salary
count  458.000000  458.000000  458.000000  4.580000e+02
mean    17.639738   26.879913  221.039301  4.715802e+06
std     15.969991    4.575741   28.300408  5.217908e+06
min      0.000000    0.000000    0.000000  0.000000e+00
25%      5.000000   24.000000  200.000000  1.000000e+06
50%     13.000000   26.000000  220.000000  2.647980e+06
75%     25.000000   30.000000  240.000000  6.323553e+06
max     99.000000   40.000000  307.000000  2.500000e+07

In [23]:
df["Salary"] = df["Salary"].fillna(df["Salary"].mean())

In [24]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 458 entries, 0 to 457
Data columns (total 9 columns):
Name        457 non-null object
Team        457 non-null object
Number      457 non-null float64
Position    457 non-null object
Age         457 non-null float64
Height      457 non-null object
Weight      457 non-null float64
College     373 non-null object
Salary      458 non-null float64
dtypes: float64(4), object(5)
memory usage: 32.3+ KB

In [25]:
df[5]

KeyError: 5

In [28]:
df[5:200]

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
5,Amir Johnson,Boston Celtics,90.0,PF,29.0,6-9,240.0,NaN,1.200000e+07
6,Jordan Mickey,Boston Celtics,55.0,PF,21.0,6-8,235.0,LSU,1.170960e+06
7,Kelly Olynyk,Boston Celtics,41.0,C,25.0,7-0,238.0,Gonzaga,2.165160e+06
8,Terry Rozier,Boston Celtics,12.0,PG,22.0,6-2,190.0,Louisville,1.824360e+06
9,Marcus Smart,Boston Celtics,36.0,PG,22.0,6-4,220.0,Oklahoma State,3.431040e+06
10,Jared Sullinger,Boston Celtics,7.0,C,24.0,6-9,260.0,Ohio State,2.569260e+06
11,Isaiah Thomas,Boston Celtics,4.0,PG,27.0,5-9,185.0,Washington,6.912869e+06
12,Evan Turner,Boston Celtics,11.0,SG,27.0,6-7,220.0,Ohio State,3.425510e+06
13,James Young,Boston Celtics,13.0,SG,20.0,6-6,215.0,Kentucky,1.749840e+06
14,Tyler Zeller,Boston Celtics,44.0,C,26.0,7-0,253.0,North Carolina,2.616975e+06
15,Bojan Bogdanovic,Brooklyn Nets,44.0,SG,27.0,6-8,216.0,NaN,3.425510e+06
16,Markel Brown,Brooklyn Nets,22.0,SG,24.0,6-3,190.0,Oklahoma State,8.450590e+05
17,Wayne Ellington,Brooklyn Nets,21.0,SG,28.0,6-4,200.0,North Carolina,1.500000e+06
18,Rondae Hollis-Jefferson,Brooklyn Nets,24.0,SG,21.0,6-7,220.0,Arizona,1.335480e+06
19,Jarrett Jack,Brooklyn Nets,2.0,PG,32.0,6-3,200.0,Georgia Tech,6.300000e+06
20,Sergey Karasev,Brooklyn Nets,10.0,SG,22.0,6-7,208.0,NaN,1.599840e+06
21,Sean Kilpatrick,Brooklyn Nets,6.0,SG,26.0,6-4,219.0,Cincinnati,1.342150e+05
22,Shane Larkin,Brooklyn Nets,0.0,PG,23.0,5-11,175.0,Miami (FL),1.500000e+06
23,Brook Lopez,Brooklyn Nets,11.0,C,28.0,7-0,275.0,Stanford,1.968900e+07
24,Chris McCullough,Brooklyn Nets,1.0,PF,21.0,6-11,200.0,Syracuse,1.140240e+06
25,Willie Reed,Brooklyn Nets,33.0,PF,26.0,6-10,220.0,Saint Louis,9.472760e+05
26,Thomas Robinson,Brooklyn Nets,41.0,PF,25.0,6-10,237.0,Kansas,9.813480e+05
27,Henry Sims,Brooklyn Nets,14.0,C,26.0,6-10,248.0,Georgetown,9.472760e+05
28,Donald Sloan,Brooklyn Nets,15.0,PG,28.0,6-3,205.0,Texas A&M,9.472760e+05
29,Thaddeus Young,Brooklyn Nets,30.0,PF,27.0,6-8,221.0,Georgia Tech,1.123596e+07
30,Arron Afflalo,New York Knicks,4.0,SG,30.0,6-5,210.0,UCLA,8.000000e+06
31,Lou Amundson,New York Knicks,17.0,PF,33.0,6-9,220.0,UNLV,1.635476e+06
32,Thanasis Antetokounmpo,New York Knicks,43.0,SF,23.0,6-7,205.0,NaN,3.088800e+04
33,Carmelo Anthony,New York Knicks,7.0,SF,32.0,6-8,240.0,Syracuse,2.287500e+07
34,Jose Calderon,New York Knicks,3.0,PG,34.0,6-3,200.0,NaN,7.402812e+06
...,...,...,...,...,...,...,...,...,...
170,Richard Jefferson,Cleveland Cavaliers,24.0,SF,35.0,6-7,233.0,Arizona,9.472760e+05
171,Dahntay Jones,Cleveland Cavaliers,30.0,SG,35.0,6-6,225.0,Duke,4.842684e+06
172,James Jones,Cleveland Cavaliers,1.0,SG,35.0,6-8,218.0,Miami (FL),9.472760e+05
173,Sasha Kaun,Cleveland Cavaliers,14.0,C,31.0,6-11,260.0,Kansas,1.276000e+06
174,Kevin Love,Cleveland Cavaliers,0.0,PF,27.0,6-10,251.0,UCLA,1.968900e+07
175,Jordan McRae,Cleveland Cavaliers,12.0,SG,25.0,6-5,179.0,Tennessee,1.111960e+05
176,Timofey Mozgov,Cleveland Cavaliers,20.0,C,29.0,7-1,275.0,NaN,4.950000e+06
177,Iman Shumpert,Cleveland Cavaliers,4.0,SG,25.0,6-5,220.0,Georgia Tech,8.988765e+06
178,J.R. Smith,Cleveland Cavaliers,5.0,SG,30.0,6-6,225.0,NaN,5.000000e+06
179,Tristan Thompson,Cleveland Cavaliers,13.0,C,25.0,6-9,238.0,Texas,1.426087e+07
180,Mo Williams,Cleveland Cavaliers,52.0,PG,33.0,6-1,198.0,Alabama,2.100000e+06
181,Joel Anthony,Detroit Pistons,50.0,C,33.0,6-9,245.0,UNLV,2.500000e+06
182,Aron Baynes,Detroit Pistons,12.0,C,29.0,6-10,260.0,Washington State,6.500000e+06
183,Steve Blake,Detroit Pistons,22.0,PG,36.0,6-3,172.0,Maryland,2.170465e+06
184,Lorenzo Brown,Detroit Pistons,17.0,PG,25.0,6-5,189.0,North Carolina State,1.114440e+05
185,Reggie Bullock,Detroit Pistons,25.0,SF,25.0,6-7,205.0,North Carolina,1.252440e+06
186,Kentavious Caldwell-Pope,Detroit Pistons,5.0,SG,23.0,6-5,205.0,Georgia,2.891760e+06
187,Spencer Dinwiddie,Detroit Pistons,8.0,PG,23.0,6-6,200.0,Colorado,8.450590e+05
188,Andre Drummond,Detroit Pistons,0.0,C,22.0,6-11,279.0,Connecticut,3.272091e+06
189,Tobias Harris,Detroit Pistons,34.0,SF,23.0,6-9,235.0,Tennessee,1.600000e+07
190,Darrun Hilliard,Detroit Pistons,6.0,SF,23.0,6-6,205.0,Villanova,6.000000e+05
191,Reggie Jackson,Detroit Pistons,1.0,PG,26.0,6-3,208.0,Boston College,1.391304e+07
192,Stanley Johnson,Detroit Pistons,3.0,SF,20.0,6-7,245.0,Arizona,2.841960e+06
193,Jodie Meeks,Detroit Pistons,20.0,SG,28.0,6-4,210.0,Kentucky,6.270000e+06
194,Marcus Morris,Detroit Pistons,13.0,PF,26.0,6-9,235.0,Kansas,5.000000e+06
195,Anthony Tolliver,Detroit Pistons,43.0,PF,31.0,6-8,240.0,Creighton,3.000000e+06
196,Lavoy Allen,Indiana Pacers,5.0,PF,27.0,6-9,255.0,Temple,4.050000e+06
197,Rakeem Christmas,Indiana Pacers,25.0,PF,24.0,6-9,250.0,Syracuse,1.007026e+06
198,Monta Ellis,Indiana Pacers,11.0,SG,30.0,6-3,185.0,NaN,1.030000e+07
199,Paul George,Indiana Pacers,13.0,SF,26.0,6-9,220.0,Fresno State,1.712011e+07

In [29]:
df.unique("Team")

AttributeError: 'DataFrame' object has no attribute 'unique'

In [30]:
df.unique["Team"]

AttributeError: 'DataFrame' object has no attribute 'unique'

In [32]:
df["Team"].nunique()

30

In [34]:
df["TF"] = df["Team"] == "Boston Celtics"

In [35]:
df.head()

,Name,Team,Number,Position,Age,Height,Weight,College,Salary,TF
0,Avery Bradley,Boston Celtics,0.0,PG,25.0,6-2,180.0,Texas,7.730337e+06,True
1,Jae Crowder,Boston Celtics,99.0,SF,25.0,6-6,235.0,Marquette,6.796117e+06,True
2,John Holland,Boston Celtics,30.0,SG,27.0,6-5,205.0,Boston University,4.842684e+06,True
3,R.J. Hunter,Boston Celtics,28.0,SG,22.0,6-5,185.0,Georgia State,1.148640e+06,True
4,Jonas Jerebko,Boston Celtics,8.0,PF,29.0,6-10,231.0,NaN,5.000000e+06,True

In [36]:
df[df["Team"] == "Boston Celtics"]

,Name,Team,Number,Position,Age,Height,Weight,College,Salary,TF
0,Avery Bradley,Boston Celtics,0.0,PG,25.0,6-2,180.0,Texas,7.730337e+06,True
1,Jae Crowder,Boston Celtics,99.0,SF,25.0,6-6,235.0,Marquette,6.796117e+06,True
2,John Holland,Boston Celtics,30.0,SG,27.0,6-5,205.0,Boston University,4.842684e+06,True
3,R.J. Hunter,Boston Celtics,28.0,SG,22.0,6-5,185.0,Georgia State,1.148640e+06,True
4,Jonas Jerebko,Boston Celtics,8.0,PF,29.0,6-10,231.0,NaN,5.000000e+06,True
5,Amir Johnson,Boston Celtics,90.0,PF,29.0,6-9,240.0,NaN,1.200000e+07,True
6,Jordan Mickey,Boston Celtics,55.0,PF,21.0,6-8,235.0,LSU,1.170960e+06,True
7,Kelly Olynyk,Boston Celtics,41.0,C,25.0,7-0,238.0,Gonzaga,2.165160e+06,True
8,Terry Rozier,Boston Celtics,12.0,PG,22.0,6-2,190.0,Louisville,1.824360e+06,True
9,Marcus Smart,Boston Celtics,36.0,PG,22.0,6-4,220.0,Oklahoma State,3.431040e+06,True
10,Jared Sullinger,Boston Celtics,7.0,C,24.0,6-9,260.0,Ohio State,2.569260e+06,True
11,Isaiah Thomas,Boston Celtics,4.0,PG,27.0,5-9,185.0,Washington,6.912869e+06,True
12,Evan Turner,Boston Celtics,11.0,SG,27.0,6-7,220.0,Ohio State,3.425510e+06,True
13,James Young,Boston Celtics,13.0,SG,20.0,6-6,215.0,Kentucky,1.749840e+06,True
14,Tyler Zeller,Boston Celtics,44.0,C,26.0,7-0,253.0,North Carolina,2.616975e+06,True

In [38]:
df["Name"][df["Team"] == "Boston Celtics"]

0       Avery Bradley
1         Jae Crowder
2        John Holland
3         R.J. Hunter
4       Jonas Jerebko
5        Amir Johnson
6       Jordan Mickey
7        Kelly Olynyk
8        Terry Rozier
9        Marcus Smart
10    Jared Sullinger
11      Isaiah Thomas
12        Evan Turner
13        James Young
14       Tyler Zeller
Name: Name, dtype: object

In [40]:
df["Name"][df["Age"].between(25, 30)]

0          Avery Bradley
1            Jae Crowder
2           John Holland
4          Jonas Jerebko
5           Amir Johnson
7           Kelly Olynyk
11         Isaiah Thomas
12           Evan Turner
14          Tyler Zeller
15      Bojan Bogdanovic
17       Wayne Ellington
21       Sean Kilpatrick
23           Brook Lopez
25           Willie Reed
26       Thomas Robinson
27            Henry Sims
28          Donald Sloan
29        Thaddeus Young
30         Arron Afflalo
35      Cleanthony Early
38           Robin Lopez
39          Kyle O'Quinn
41        Kevin Seraphin
42          Lance Thomas
44      Derrick Williams
47         Isaiah Canaan
48      Robert Covington
57             Ish Smith
59       Hollis Thompson
63       DeMarre Carroll
             ...
384        D.J. Augustin
385          Will Barton
386      Wilson Chandler
387       Kenneth Faried
388     Danilo Gallinari
398      Nemanja Bjelica
399         Gorgui Dieng
404        Adreian Payne
405       Nikola Pekovic
407          Ricky Rubio
408         Damjan Rudez
409           Greg Smith
414         Kevin Durant
417          Serge Ibaka
421       Anthony Morrow
424         Kyle Singler
426    Russell Westbrook
428      Al-Farouq Aminu
431             Ed Davis
433     Gerald Henderson
436       Damian Lillard
439        Mason Plumlee
440        Brian Roberts
442        Trevor Booker
448       Gordon Hayward
450           Joe Ingles
451        Chris Johnson
453         Shelvin Mack
455         Tibor Pleiss
456          Jeff Withey
Name: Name, Length: 212, dtype: object

In [47]:
df[(df["Age"].between(25, 30)) & (df["Team"] == "Boston Celtics")]

,Name,Team,Number,Position,Age,Height,Weight,College,Salary,TF
0,Avery Bradley,Boston Celtics,0.0,PG,25.0,6-2,180.0,Texas,7.730337e+06,True
1,Jae Crowder,Boston Celtics,99.0,SF,25.0,6-6,235.0,Marquette,6.796117e+06,True
2,John Holland,Boston Celtics,30.0,SG,27.0,6-5,205.0,Boston University,4.842684e+06,True
4,Jonas Jerebko,Boston Celtics,8.0,PF,29.0,6-10,231.0,NaN,5.000000e+06,True
5,Amir Johnson,Boston Celtics,90.0,PF,29.0,6-9,240.0,NaN,1.200000e+07,True
7,Kelly Olynyk,Boston Celtics,41.0,C,25.0,7-0,238.0,Gonzaga,2.165160e+06,True
11,Isaiah Thomas,Boston Celtics,4.0,PG,27.0,5-9,185.0,Washington,6.912869e+06,True
12,Evan Turner,Boston Celtics,11.0,SG,27.0,6-7,220.0,Ohio State,3.425510e+06,True
14,Tyler Zeller,Boston Celtics,44.0,C,26.0,7-0,253.0,North Carolina,2.616975e+06,True